.navbar {
	background-color: #b50404;
}

.my-carousel img {
	height: 667px;
	opacity: 0.9;
}

.carousel-caption{
	margin-bottom: 200px;
	text-align: left;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 59px;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.selamat-datang {
	background-color: #b50404;
	height: 75px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.judul-selamat-datang{
	margin: auto;
	display: flex;
}

.judul-selamat-datang h6 {
	color: white;
	font-family: sans-serif;
}

.selamat-datang-dua {
	background-image: url(/img/blur-bulsar.png);
	height: 243px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.judul-selamat-datang-dua {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.judul-selamat-datang-dua{
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;

}

.judul-selamat-datang-dua h3 {
	display: flex;
	font-family: sans-serif;
	color: #b50404;
	text-align: center;
}

.judul-selamat-datang-dua .garis{
	height: 4px;
	width: 100px;
	background-color: #b50404;
	margin-bottom: 30px;
}

.paragraf-selamat-datang-dua{
	display: flex;
	color: white;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.selamat-datang-dua p{
	color: white;
	text-align: center;
}


.konten-satu{
	background-color: #132b57;
	padding: 50px;
}

.judul-besar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
}

.judul-besar h5 {
	color: white;
}

.judul-besar h2 {
	color: #b50404;
}

.judul-besar .garis{
	height: 4px;
	background-color: #b50404;
	margin-bottom: 30px;
}

.berita-terkini {
	margin-bottom: 20px;
}

.footer-berita {
	display: flex;
	justify-content: center;
	align-content: center;
}

.baca-berita-lainnya div {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}