.my-carousel img {
	height: 650px;
}

.my-carousel {
	margin-bottom: 100px;
}

.carousel-caption{
	margin-bottom: 200px;
	text-align: left;
}
.side-camat img{
	width: 100%;
}

.card-group {
	width: 100%;
	display: flex;
	border: none;
}

h5 {
	font-size: 15px;
}

.side-camat h4{
	margin-bottom: 33px;
}