.navbar {
	background-color: #f6a607;
	font-family: 'Monsterrat', sans-serif;
}


.my-carousel img {
	height: 667px;
	opacity: 0.9;
}

.carousel-item {
	transition: transform 2s ease, opacity .10s ease-out;
}

.carousel-caption{
	margin-bottom: 200px;
	text-align: left;
	transform-origin: left;
}

.ml10 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  font-weight: 900;
  font-size: 59px;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}


.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

.selamat-datang {
	font-family: 'Open Sans', sans-serif;
	background-color: #4c1a1b;
	height: 75px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.judul-selamat-datang{
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	display: flex;
}

.judul-selamat-datang h6 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.selamat-datang-dua {
	background-image: url(/img/hero2.jpg);
	height: 243px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.judul-selamat-datang-dua {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.judul-selamat-datang-dua{
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;

}

.judul-selamat-datang-dua h3 {
	display: flex;/
	color: white;
	text-align: center;
}

.judul-selamat-datang-dua .garis{
	height: 4px;
	width: 100px;
	margin-top: 10px;
	background-color: #4c1a1b;
	margin-bottom: 30px;
}

.paragraf-selamat-datang-dua{
	display: flex;
	color: white;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.selamat-datang-dua p{
	color: white;
	text-align: center;
}


.konten-satu{
	font-family: 'Open Sans', sans-serif;
	background-color: #f6a607;
	padding: 50px;
}

.judul-besar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
	margin-bottom: 50px;
}

.judul-besar h5 {
	color: white;
}

.judul-besar h2 {
	color: #4c1a1b;
}

.judul-besar .garis{
	height: 4px;
	background-color: #4c1a1b;
	margin-bottom: 30px;
}

.berita-terkini {
	margin-bottom: 20px;
}

.footer-berita {
	display: flex;
	justify-content: center;
	align-content: center;
}

.baca-berita-lainnya div {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.konten-dua {
	font-family: 'Open Sans', sans-serif;
	background-image: url(/img/hero2.jpg);
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
}

.gambar-camat {
	display: flex;
}

.visi-misi{
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.visi-misi h3 {
	text-align: center;
}

.visi-misi img{
	justify-content: center;
	align-items: center;
	align-content: center;
}

.footer-ku {
	background-color: lightgrey;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;

}

.isi-footer {
	margin: 50px auto;
	box-sizing: border-box;
}

.isi-footer p {
	display: flex;
	justify-content: center;
	margin-bottom: 0;

}
